<footer class="footer">
    <small>
        The <a href="http://www.railstutorial.org/">Ruby on Rails
        Tutorial</a>
        by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to t('global.nav.about'), about_path %></li>
            <li><%= link_to t('global.nav.contact'), contact_path %></li>
            <li><a href="http://news.railstutorial.org/"><%= t('global.nav.news') %></a></li>
            <li><%= link_to "English", locale:"en" %></li>
            <li><%= link_to "Vietnamese", locale:"vi" %></li>
            
        </ul>
    </nav>
</footer>